<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../includes/head') %>
  </head>
  <body>
    <%- include('../includes/header') %>

    <div class="container" style="margin-top: 80px !important">
      <div class="row justify-content-md-center mb-5">
        <div class="col-md-12 mt-5">
          <h2 class="text-center title">
            Backend y fronted
            
            <hr />
          </h2>
        </div>
      </div>

      <div class="row justify-content-md-center mb-5">
        <div class="col-md-4 mb-5">
          <h3 class="text-center">
            Registrar Producto
            <hr />
          </h3>
          <form action="/productos" method="POST">
            <div class="mb-3">
              <label for="nombre_producto" class="form-label"> Nombre del Producto </label>
              <input type="text" name="nombre_producto" class="form-control" />
            </div>
            <div class="mb-3">
              <label for="descripcion" class="form-label"> Descripción </label>
              <input type="text" name="descripcion" class="form-control" />
            </div>
            <div class="mb-3">
              <label for="precio" class="form-label"> Precio (S/) </label>
              <input type="number" name="precio" class="form-control" step="0.01" />
            </div>
            <div class="mb-3">
              <label for="stock" class="form-label"> Stock </label>
              <input type="number" name="stock" class="form-control" />
            </div>

            <div class="d-grid gap-2 col-12 mx-auto mt-4 mb-4">
              <button class="btn btn-primary" type="submit">
                Registrar Producto
              </button>
            </div>
          </form>
        </div>

        <div class="col-md-8 py-3 custom_table">
          <h3 class="text-center">
            Lista de Productos
            <hr />
          </h3>

          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nombre</th>
                  <th>Descripción</th>
                  <th>Precio (S/)</th>
                  <th>Stock</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <% let contador = 1; %>
                <% productos.forEach(function(producto) { %>
                <tr>
                  <th scope="row"><%= contador %></th>
                  <td><%= producto.nombre_producto %></td>
                  <td><%= producto.descripcion %></td>
                  <td><%= producto.precio %></td>
                  <td><%= producto.stock %></td>
                  <td>
                    <span style="display: flex; justify-content: space-between">
                      <a
                        class="btn btn-info info_especial"
                        href="/detalles-producto/<%= producto.id_producto %>"
                        title="Ver Detalles del Producto">
                        <i class="bi bi-box-seam"></i>
                      </a>
                      <a
                        class="btn btn-success success_especial"
                        title="Editar Producto"
                        href="/formulario-actualizar-producto/<%= producto.id_producto %>">
                        <i class="bi bi-pencil-square"></i>
                      </a>
                      <form
                        action="/borrar-producto/<%= producto.id_producto %>"
                        method="POST">
                        <input type="hidden" name="_method" value="DELETE" />
                        <button type="submit" class="btn btn-danger">
                          <i class="bi bi-trash"></i>
                          Eliminar
                        </button>
                      </form>
                    </span>
                  </td>
                </tr>
                <% contador++; %>
                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <%- include('../includes/scripts') %>
  </body>
</html>